<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Bounty Hunter Adventure</h1>
		<section class="container">
			<p>Please enter your bounty hunter name:</p>
			<form>
				<label for="firstName"></label>
				<input id="firstName" type="text" placeholder="First Name">
				<label for="lastName"></label>
				<input id="lastName" type="text" placeholder="Enter First Name">
			</form>
			<button id="welcome" type="button" name="button">Continue</button>
			<h2 id="placeToWelcome"></h2>
			<section id="text"></section>

			<section>
				<button class="btn" class="block" id="talkOne" onclick="disappear()"></button>
				<button class="btn" class="block" id="talkTwo" onclick="disappear()"></button>
				<button class="btn" class="block" id="talkThree" onclick="disappear()"></button>
				<button class="btn" class="block" id="talkFour" onclick="disappear()"></button>
			</section>
			<!--
			<div id="text">Text</div>
			<div id="option-buttons" class="btn-grid">
				<button id="option1" class="btn1">Option 1</button>
				<button id="option2" class="btn2">Option 2</button>
				<button id="option3" class="btn3">Option 3</button>
				<button id="option4" class="btn4">Option 4</button>
			</div>
		-->
	</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
