/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */

/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */

/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
	
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
