/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: #304659;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/******************************************
/* LAYOUT
/*******************************************/
nav {
    padding: 5px 20px;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}
hr {
  display: none;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}
.tagline {
  width: 100%;
  margin-top: 5rem;
  padding-left: 12rem;
}
.tag-text {
  width: 50%;
  font-weight: bold;
  float: left;
}
h1 {
  font-size: 3em;
  width: 24rem;
}
.searchTerm {
  padding: 1%;
  width: 20rem;
  height: 3rem;
}
.searchButton {
  padding: 1%;
  width: 6rem;
  margin: 0;
  position: relative;
  right: 1rem;
  background-color: #304659;
  color: white;
  font-weight: bold;
  height: 3rem;
}
.tagline p {
  font-size: 1.2rem;
  width: 25rem;
}
.background-image {
  width: 50%;
  float: left;
}
.background-image img {
  width: 100%;
  object-fit: contain;
}
.features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  float: left;
}
.theFeatures {
  width: 14rem;
}
.theFeatures i {
  font-size: 2rem;
}
.theFeatures h4, .theFeatures a {
  font-weight: bold;
  font-size: 1.1rem;
}
.information {
  width: 100%;
  float: left;
  padding-left: 12rem;
}
.information h2 {
  font-size: 3rem;
  width: 35rem;
}
.information p {
  width: 30rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    margin-right: auto;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: #304659;
    color: white;
  }
}
/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
    margin-left: auto;
  }
  .menu li {
    padding: 15px;
  }
  .menu li.button {
    padding-right: 0;
  }
}
@media only screen and (max-width: 855px) {
  .logo {
    margin: 0 auto;
  }
  hr {
    display: block;
  }
  .tagline {
    padding: 0;
    margin-top: 1rem;
  }
  .tagline h1, .tagline p {
    width: auto;
    padding: 1rem;
  }
  .tagline h1 {
    margin: 0;
  }
  .tag-text {
    width: 100%;
    float: none;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .search {
    text-align: center;
  }
  .searchTerm {
    width: 25rem;
  }
  .searchButton {
    position: unset;
    width: 25rem;
    margin-top: 1rem;
  }
  .background-image {
    width: 100%;
    float: right;
  }
  .features {
    display: none;
  }
  .information {
    display: none;
  }
}