/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: Verdana, sans-serif; margin:0
}
.carouselImage {
  display: none
}
img {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/
nav {
    padding: 5px 20px;
    text-transform: uppercase;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}
/* Slideshow container */
.Slideimage1 {
  background: linear-gradient(#18161626,#18161626),
  url(../images/barber1.jpg);
}
.Slideimage2 {
  background: linear-gradient(#18161626,#18161626),
  url(../images/barber2.jpg);
}
.Slideimage3 {
   background: linear-gradient(#18161626,#18161626),
  url(../images/barber3.jpg);
}
.slideshow {
  width: 100%;
  position: relative;
  margin: auto;
}
.carouselImage {
  height: 45rem;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  flex-direction: column;
}
.carouselImage img {
  width: 100%;
}
.text, .first-visit {
  color: white;
  margin: 3% 0 0 5%
}
.text {
  width: 50%;
}
.text h2 {
  font-weight: 100;
  font-size: 5rem;
  margin: 0 auto;
}
.services {
  background-color: black;
  padding: 2%;
  width: 12rem;
}
.first-visit {
  background-color: black;
  width: 20rem;
  padding: 1%;
  line-height: 2rem;
  font-weight: 100;
}
.first-visit span {
  font-weight: bold;
  font-size: 2rem;
}
.bookOnline {
  background-color: white;
  color: black;
  width: 10rem;
  padding: 3%;
}
.container {
  margin-left: 15%;
  margin-right: 15%;
}
.service-offers {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.service-offers i {
  font-size: 3rem;
}
.service-offers section {
  width: 100%;
  padding: 5%;
}
.video {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}
.barberVideo {
   background: linear-gradient(#18161626,#18161626),
    url(../images/barber4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
}
.momentum, .barberVideo {
  padding: 1rem;
  width: 50%;
}
.video h2 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 65px;
}
.video p {
  line-height: 40px;
}
.readMore {
  color: white;
  background-color: black;
  width: 11rem;
  padding: 10px;
  text-align: center;
}
.barbers-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  gap: 5rem;
  padding: 5%;
  flex-wrap: wrap;
}
.barber-box{
  border: 1px solid black;
  width: 250px;
  height: 400px;
  background: gray;
}
.barber-box img {
  width: 100%;
  height: inherit;
}
.barber-details{
  background: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  transform: translateY(-20px);
  position: relative;
  bottom: 30px;
}
.offer {
  text-transform: uppercase;
  font-weight: 100;
  background: linear-gradient(#18161626,#18161626),
  url(../images/barber8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 30rem;
  padding: 5rem;
  line-height: 2.4rem;
}
.offer h3 {
  font-weight: 100;
  font-size: 1.5rem;
}
.offer h3 span {
  font-weight: bold;
  font-size: 2rem;
}
.appointment {
  color: white;
  background-color: black;
  width: 15rem;
  padding: 20px;
  text-align: center
}
.lookbook h2 {
  text-align: center;
  margin-top: 10rem;
}
.lookbook hr {
  width: 5%;
}
.pictures {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
}
.small {
  width: 20rem;
  height: 20rem;
  margin-bottom: 2rem;
  object-fit: cover;
}
.sm {
  margin-bottom: 0;
  margin-top: 2rem;
}
.large {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
}
.col {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 55rem;
  margin-right: 2rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    margin-right: auto;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .item.book {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .book a {
    padding: 7.5px 15px;
  }
}
/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .book {
    order: 2;
    margin-left: auto;
  }
  .menu li {
    padding: 15px 25px;
  }
  .menu li.book {
    padding-right: 0;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
   .text h2 {
    font-size: 3rem;
  }
  .text br {
    display: none;
  }
  .pictures {
    flex-direction: column;
  }
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px
  }
   .text h2 {
    font-size: 3rem;
  }
}