/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
h3 {
  padding: 2rem;
}
img{
  display: block;
  height: 15rem;
  margin: 0 auto;
}
section {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
}
ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
li{
  width: 15rem;
  height: 14vh;
  border: 5px solid black;
}
a {
  height: inherit;
  width: inherit;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}
#red{
  background: rgb(255, 0, 34);
}
#black{
  background: rgb(3, 0, 0);
}
#berserk{
  background: url(https://media.comicbook.com/2020/07/berserk-manga-guts-berserker-armor-1230243.jpeg?auto=webp&width=1204&height=628&crop=1204:628,smart);
  background-size: cover;
  background-position: right;
}
#white {
  background: rgb(255,255,255);
}
