* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}
@font-face {
    font-family: "skema Pro News Md";
    src: url(../font/Mint\ Type\ -\ Skema\ Pro\ News\ Medium\ Italic.otf) format("truetype");
}
html,body{
    overflow-x: hidden;
}
body {
    background-color: #87ceeb;
    color: white;
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.container {
    border: 5px solid #48cd31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}
h1, p {
    font-family: "skema Pro News Md";
}
h1 {
    text-align: center;
    font-weight: 100;
    font-size: xx-large;
}
.topNav {
    text-align: center;
}
.topNav span, h2, a {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
a {
    color: #4acc99;
}
.bodyContent {
}
img {
    margin: 4%;
    width: 25%;
    float: right;
}
.vertBar {
    color: #899093;
    font-weight: bolder;
}
p {
    color: #d1e5ee;
    margin: auto;
    padding: 20px;
    line-height: 25px
}
footer {
    text-align: center;
    clear: both;
}
/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1224px) {
    body {
        margin: 0px;
    }
    .container {
        width: 100%;
    }
    .bodyContent {
        margin-top: 10px;
    }
}
