/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
nav li {
  text-decoration: none;
  list-style-type: none;
}
/*
/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
  height: 340px;
}
nav *{
  float: left;
}
nav > a, nav > form, nav > h2, nav > ul{
  width: 14%;
  margin: 0 5%;
  list-style: none;
}
li {
  margin-right: 10%;
}
main {
  width: 100%;
}
.img {
  width: 50%;
  float: left;
}
.options {
  width: 50%;
  float: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
