/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*, *::before, *::after {
  box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
html {
  background: url(https://cdn.mos.cms.futurecdn.net/F8s2mvVuJp2T66CzkpmMgM-1200-80.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 3em;
  text-align: center;
  color: white;
}
.container {
  max-width: 80%;
  background-color: #ffffffdb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}
.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.btn:hover {
  border-color: black;
}

/* Background Styles Only */
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: Raleway;
}
.side-links {
  position: absolute;
  top: 15px;
  right: 15px;
}
.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}
.side-link-youtube {
  background-color: red;
}
.side-link-twitter {
  background-color: #1DA1F2;
}
.side-link-github {
  background-color: #6e5494;
}
.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}
.side-link-icon {
  color: white;
  font-size: 30px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
