/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
nav, main, .aside, .articles  {
  float: left;
}
a {
  text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/
nav {
  width: 10%;
}
main {
  width: 50%;
}
aside {
  width: 40%;
}
.articles {
  width: 100%;
}
.articles h2 {
  width: 100%;
}
article {
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
