/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
*{
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* LAYOUT
/*******************************************/
header, section {
  text-align: center;
}
ul li {
  text-align: center;
  list-style-type: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
