/* NO classes or IDs */
/* Please Make only World and Zebra Blue */
section:nth-child(2) {
    color: blue;
}
/* Please Make only Zebra Purple */
section h2:nth-child(2) {
    color: purple;
}
/* Please Make only Hufflepuff Gold */
article h2:nth-child(2) {
    color: gold;
}
/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */
article:nth-child(1) {
    color: gray;
}