/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  position: absolute;
  width: 20rem;
  height: 35rem;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
input, button, h2 {
  margin: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
