* {
    box-sizing: border-box;
}
header, footer, aside, article {
    border: 10px solid black;
}
header, footer {
    width: 100%;
    float: left;
}
header, footer {
    height: 19vh;
}
aside, article {
    height: 60vh;
}
aside {
    width: 20%;
    float: left;
}
article {
    width: 40%;
    float: left
}