/* Please Make only Rhino and Zebra Blue */
.africa {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
.likesToQuack {
    color: rgb(128, 126, 0)!important;
}
/* Please select Rhino with the highest level of specificity possible */
.rhino {

}