/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: Verdana, sans-serif; margin:0
}
li {
  display: inline-block;
  list-style-type: none;
  float: right;
  padding: 20px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
input{    
    background: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png") top left     no-repeat;
    height:30px;
    padding-left:25px;   
}
/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 70px;
    width: 100%;
}
.welcome {
    padding: 10%;
}
.fa.fa-search {
    position: relative;
    right: 230px
}
.slideimages {
    display: none
}
img {
    vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}