/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
/*
body {
  font-family: Verdana, sans-serif; margin:0
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
*/
body {
  margin: 0px;
  font-family: 'segoe ui';
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/******************************************
/* LAYOUT
/*******************************************/
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}
.nav > .nav-links > a:hover {
  color: #ff8800;
}
.nav > #nav-check {
  display: none;
}
header {
  background: url(https://iltuouniversodonna.it/wp-content/uploads/2019/06/cistite-cosa-mangiare-e1560516269141-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 60rem;
  contain: content
}
.welcome, .container {
  float: left;
  clear:both;
  width: 100%;
  margin-bottom: 5rem;
}
.welcome {
  padding: 10% 10%;
}
h1 {
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
}
.welcome form input {
  border: 2px solid #dde8ec;
  width: 35%;
}
.welcome button, .welcome input {
  font-size: 1.5rem;
  font-weight: 100;
  display: inline;
  padding: 10px;
  border-radius: 5px;
}
.welcome button {
  color: white;
  background-color: #ff8800;
  border: #ff8800;
}
.social-media-links ul {
  font-size: 1.5rem;
  display: flex;
}
.social-media-links li {
  padding-right: 3rem;
}
.social-media-links i {
  color: #ff8800;
}
.about-us {
  background: url(https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: auto;
  contain: content;
  padding-top: 5rem;
}
.discover {
  background-color: #edf0f6f5;
  padding: 5% 10%;
  width: 60%;
  float: right;
  margin-bottom: 5%;
  margin-right: 10%;
  border-radius: 5rem;
}
.discover h2 {
  color: #ff8800;
}
.discover h3 {
  font-size: 6rem;
}
.discover button {
  background-color: #ff8800;
  color: white;
  border-radius: 5px;
  border: 2px solid #ff8800;
  padding: 2%;
}
.order-now {
  padding: 5% 10%;
}
.food-selection {
  text-align: center;
}
.food-selection h2 {
  color: #ff8800;
}
.food-selection h3 {
  font-size: 6rem;
  margin: 0;
}
.food-selection ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
.food-selection ul li {
  padding-right: 5rem;
}
.food-selection ul li a:hover {
  color: #ff8800;
}
.food {
  margin-top: 5%;
}
.food img {
  height: 30rem;
  width: 20rem;
  object-fit: cover;
  padding: 1%;
}
.reservation {
  background: url(https://images.unsplash.com/photo-1528699633788-424224dc89b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=674&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: auto;
  contain: content;
  padding-top: 5rem;
}
.hours {
  background-color: #edf0f6f5;
  padding: 5% 10%;
  width: 60%;
  float: left;
  margin-bottom: 5%;
  margin-left: 10%;
  border-radius: 5rem;
}
.hours h2, .hours h3 {
  text-align: center;
}
.hours h2 {
  color: #ff8800;
}
.hours h3 {
  font-size: 6rem;
  margin: 0;
}
.number {
  color: #ff8800;
  font-size: 2rem;
  font-weight: bold;
}
address {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
address .date {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.date {
  padding-top: 10%;
}
.date p {
  margin: 0;
}
.time {
  font-weight: bold;
  font-size: 1.5rem;
}
.orange-phone {
  color: #ff8800;
  font-size: 3rem;
  margin: 0;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.testimonals {
  padding: 5% 10%;
}
.opinions {
  text-align: center;
}
.orange {
  color: #ff8800;
  font-size: 1.5rem;
}
.opinions h2 {
  font-size: 6rem;
  margin: 0;
}
.opinions img {
  border-radius: 20rem;
  height: 20rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: beige;
  }
  h1 {
    font-size: 4rem;
  }
  header {
    height: auto;
  }
  .welcome form input {
    width: 60%;
  }
  .about-us {
    padding-top: 0;
  }
  .discover {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .discover h3 {
    font-size: 3.1rem;
  }
  .food-selection h3 {
    font-size: 3.2rem;
  }
  .food-selection ul {
    width: auto;
    padding-left: 0;
  }
  .food-selection ul li {
    padding-right: 1.5rem;
  }
  .food img {
    height: 15rem;
  }
  .reservation {
    padding-top: 0;
  }
  .hours {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
  .hours h3 {
    font-size: 4rem;
  }
  .time {
    font-size: 1.1rem;
  }
  .opinions h2 {
  font-size: 3rem;
}
}
