* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}
li {
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    background-color: gray;
}
section {
    height: 300px;
    background-color: #dc89e7;
    border: 5px solid gold;
}
h1 {
    font-size: 30px;
    color: gold;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
footer {
    background-color: #4f2800;
    height: 300px;
    width: 70%;
}
h2, h4 {
    text-decoration: line-through;
}