/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width:600px) {

}
@media all and (min-width: 900px) {
  
}
@media only screen and (max-width: 500px) {
   
}