* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
header, section, footer, aside, article {
    border: 10px solid black;
}
header, section, footer {
    width: 100%;
    float: left;
}
header, footer {
    height: 16vh;
    clear: both;
}
section {
    height: 26vh;
}
aside, article {
    height: 40vh;
}
aside {
    width: 25%;
    float: left;
}
article {
    width: 75%;
    float: right;
}
