* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
header, section, footer, aside, article {
    border: 10px solid black;
}
header, section, footer {
    width: 100%;
    float: left;
}
header, footer {
    height: 16vh;
    clear: both;
}
section {
    height: 26vh;
}
aside, article {
    height: 40vh;
}
aside {
    width: 25%;
    float: left;
}
article {
    width: 75%;
    float: right;
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
    header {
        background-color: darkgreen;
    }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
    section {
        background-color: darkred;
    }
    article {
        background-color: deepskyblue;
    }
}
@media screen and  (min-width: 401px) and (max-width: 600px) {
    footer {
        background-color: gold;
    }
    aside {
        background-color: hotpink;
    }
}