h1 {
    font-size: 30px;
    padding: 0 100px;
    border: 2px solid red;
}
h2 {
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 10px solid gold;
    margin-top: 2%;
    margin-bottom: 2%;
}
span {
    border: 2px solid black;
    padding: 2%;
    color: blue;
}
section {
    width: 25%;
    height: 200px;
    border: 2px solid #bf00fe;
    margin: 0 auto;
}