/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
*{
  box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
}
.container {
  display: flex;
  width: 25rem;
}
.container, footer {
  margin: 0 auto;
}
footer {
  width: 35rem;
}
footer section {
  display: flex;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
