/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
nav, main, .aside, .articles  {
  float: left;
}
nav {
  width: 10%;
}
main {
  width: 50%;
}
aside {
  width: 40%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.articles {
  width: 100%;
}
.articles h2 {
  width: 100%;
}
article {
  width: 100%;
}
/******************************************
/* LAYOUT
/*******************************************/
/* Nav */

/* Main */

/* Aside Articles */
.aside li {
  border-bottom: 2px gray solid;
  width: 100%;
  margin: 0px;
  padding-bottom: 2%;
}
.aside  {
  font-weight: bold;
}
/* Articles */
.article1 section{
  width: 33.333333%;
  float: left;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
