/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    padding: 0;
    margin: 0;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
  body {
    font-family: Arial,Helvetica,sans-serif;
  }
/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 75px;
  background: black;
}
nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}
nav img {
  width: 100px;
}
.signin img {
  width: 30px;
}
nav ul{
  width: 50%;
}
nav form{
  width: 20%;
}
nav form input{
  width: 100%;
}
.welcome-date {
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
.welcome-date h2 {
  float: left;
}
#date {
  position: unset;
  margin: 0px;
  float: right;
}
main, .articles-lower {
  margin: 0 15% 0 15%;
}
.articles {
  color: white;
  height: 1px;
}
#main-article {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/12350/production/_115167547_mediaitem115167546.jpg");
  background-size: 100% 100%;
  height: 390px;
  width: 50%;
  float: left;
}
.main-article h1, p {
  position: relative;
  top: 210px;
  margin: 15px;
}
.span {
  position: relative;
  top: 210px;
  margin: 15px;
}
.art {
  background-size: 100% 100%;
  width: 23%;
  height: 190px;
  float: left;
  margin: 0 10px 10px 10px;
}
.art h3, span {
  position: relative;
  top: 90px;
  margin: 15px;
  font-size: 100%;
}
#article2 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/16B9/production/_115171850_gettyimages-1227907973.jpg");
  background-size: 100% 100%;
}
#article3{
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/0273/production/_115172600_e8e118a7-26c7-4826-bdf3-83271c4c3fd3.jpg");
  background-size: 100% 100%;
}
#article4 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/17149/production/_115173549_ka_get.jpg");
  background-size: 100% 100%;
}
#article5 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/8w/l5/p08wl5hn.jpg");
  background-size: 100% 100%;
}
.articles-lower {
  margin-top: 30px;
  float: left;
}
.articles-lower section {
  width: 33.333333%;
  height: 260px;
  float: left;
}
.articles-lower img {
  width: 100%;
  height: 300px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
